body {
  margin-top:0;
  font-size: 18px;
  line-height: 150%;
}
.container {
  height: 400px;
  width: 70%;
  background:  url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: 100%;
}
main {
  margin: 0 27%;
}
div {
  font-family: 'Josefin Sans', sans-serif;
}
.hi {
  font-size:40px;
  font-family: 'Abril Fatface';
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate (-50%, -50%);
}
.name {
  font-size: 80px;
  font-family: 'Abril Fatface';
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate (-50%, -50%);
}


blockquote {
  background: #666666;
  color: white;
  padding: 5px;
  font-family: 'Abril Fatface', cursive;
  font-size: 280%;
  line-height: 150%;
 
}
blockquote p::before {
    content: '\201C';
}
.uppercase{
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}
.pizza {
  font-family: 'Merriweather', serif;
  font-style: italic;
}
.short {
  font-weight: bold;
}
.line{
    width: 100%;
    border-bottom: 2px solid black;
    }